.down {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    border-radius: 50%;
    position: fixed;
    bottom: 2vh;
    left: 6vh;
    height: 5vh;
    width: 3vh;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.16);
}

.down::before,
.down::after {
    content: '';
    position: absolute;
    top: 44%;
    left: 50%;
    border: 2px solid #3d3d3d;
    height: 10px;
    width: 10px;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    background-color: #f9fafb;
    box-shadow: none;
    border: 2px solid #4444ef;
}

@media (max-width: 800px) {
    .down {
        left: 3vh;
    }
}

.down {
    background-color: #fff;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease;
    cursor: pointer;
}
