
.down {
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: +1; */
    position: sticky;
    bottom: 2vh;
    left: 6vh;
    height: 5vh;
    width: 3vh;
    background-color: #fff;
    cursor: pointer;
    
}

.down::before,
.down::after {
    content: '';
    position: absolute;
    top: 44%;
    left: 50%;
    border: 2px solid #3d3d3d;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;

}

@media(max-width:800px) {
    .down {
        
        left: 3vh;
    }
}

